.App {
  text-align: left;
  width: 97vw;
  height: auto;
  min-height: 90vh;
  background-color: rgb(224, 224, 224);
  padding: 1.5vw;
}

.header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vw;

}

.btnRun {
  padding: 0.5vw 1vw;
  border-radius: 8px;
  border: 1px solid green;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 200ms ease-in-out;

    & :hover {
    background-color: green;
    color: white;
  }
}

.container {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  background-color: rgb(231, 231, 231);
  padding: 2vw;
  margin-bottom: 2vw;
  display: flex;
}

.task {
  width: 49%;
  border-right: 1px solid rgb(190, 190, 190);
}

.selectLanguage {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 8px;
  outline: none;
  padding: .8vw;
}

.titleImg {
  width: 1vw;
  height: 2vw;
}

.difficulty {
  width: 5%;
  min-width: fit-content;
  max-width: max-content;
  text-align: left;
  padding: 0.5vw 1vw;
  border-radius: 8px;
  border: 1px solid green;
}

.title {
  border-top: 1px solid rgb(190, 190, 190);
  padding-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}

.code {
  width: 49%;
  margin-left: auto;
  margin-right: auto;
}